<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por José Manuel Zamorano Luengo y Javier Vázquez.
</p>

<a href="https://github.com/javiva94/quiz_2017">
	Nuestro Proyecto en Github</a>

<img src="/images/javi.jpg" />
<img src="/images/josema.jpg" />
